Options -Indexes -MultiViews

<IfModule mod_headers.c>
	Header always set X-XSS-Protection "1; mode=block"
	Header always set X-FRAME-OPTIONS "DENY"
	Header always set X-Content-Type-Options "nosniff"
	Header set Content-Security-Policy "script-src 'self' https://www.google.com"

	<FilesMatch ".(js|css|xml|gz|html)$">
		Header append Vary: Accept-Encoding
	</FilesMatch>
</IfModule>

<IfModule mod_rewrite.c>
	SetEnv ENV production
	Options +FollowSymlinks
	Options +SymlinksIfOwnerMatch
	RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-l
	RewriteRule ".*" "index.php" [L]
	
</IfModule>
